// Place all the styles related to the tutorial controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tutorial{
  font-size: 25px;
  margin-top: 200px;
  line-height: 150%;
}
.kasennbu{
  border-bottom: solid 2px #6B8CF3;
  font-size: 30px;
  line-height: 150%;
  margin-bottom: 10px;
}
.oomoji{
  font-size: 40px;
  font-weight: bold;
}
