<div style="text-align: center;">
<%= image_tag("https://takineru.s3-ap-northeast-1.amazonaws.com/title_image/tutorial.png", :style => "width: 500px;") %></h1>

<p class="tutorial">
<span class="kasennbu">TAKI-NERUは<span class="oomoji">ねること</span>で滝沢の魅力を知って欲しい！という思いから、</span><br>
<span class="kasennbu"><span class="oomoji"style="color:#5F6F3C">地元の方</span>と<span class="oomoji"style="color:#D85D40">旅するあなた</span>をつなぐサービスです。</span>
</p>

<p class="tutorial">
ねるを貸す人と借りる人、<br>
滝沢の魅力を紹介する人が<br>
つながることで<br>
ワクワクとやすらぎが生まれます。
</p>

<p class="tutorial">
滝沢で”ねる”ことは、<br>
土地を知り、現地の人と分かち合うことです。
</p>

<p class="tutorial"style="margin-bottom:250px;">
  滝沢が近くなり、<br>
  多くの人と魅力を共有できたら<br>
  すてきだと思いませんか？
</p>
</div>
